@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.section {
    display: grid;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.section input, .section textarea {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: "Poppins";
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.11);;
    appearance: none;
    outline: none;
    width: 100%;
}

.section textarea {
    resize: none;
}


.section-title {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bold;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.section-title:nth-of-type(2){
    padding-top: 10px;

}

.button {
    width: 473px;
    place-self: center;
    margin-left: 12px;
    height: 50px;
    border-radius: 5px;
    appearance: none;
    outline: none;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}

#delete-ex, #delete-ed {
    margin-bottom:10px;
    margin-top: 10px;
}

#delete-ed:hover, #delete-ex:hover {
    background-color: white;
    color: black;
}
